<script src="/node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
<script>
  var socket = io.connect('http://lvh.he:2222');
  var user = {
    id: 0,
    name: "index"
  };
  socket.on("dialed", function(request) {
    console.log(request);
  });
  socket.on("dialResponse", function(response) {
    console.log(response);
  });
</script>
