<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
<script>
  var socket = io.connect('http://socket.foogy.cn:2222');
  var user = {
    id: 1,
    name: "Ivan"
  };
  socket.emit('login', user);
  socket.on("dialed", function(request) {
    console.log(request);
  });
  socket.on("dialResponse", function(response) {
    console.log(response);
  });
  socket.on('userConnect', function(user) {
    console.log("用户上线：" + user.name);
  });
  socket.on('userDisconnect', function(user) {
    console.log("用户下线：" + user.name);
  });
  socket.on('callRequestAccepted', function(request) {
    console.log("被拨用户接受了您的邀请：");
    console.log(request);
  });
  socket.on('callRequestRefused', function(request) {
    console.log("被拨用户拒绝了您的邀请：");
    console.log(request);
  });
  socket.on('answerError', function(response) {
    console.log("接受或者拒绝通话邀请时出现错误：");
    console.log(request);
  });
  socket.on('callEnded', function(request) {
    console.log("通话结束：");
    console.log(request);
  });
  socket.on('connectedUsers', function(users) {
    console.log("用户列表：");
    console.log(users);
  });
</script>